<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="movies content">
    <h1>All Movies</h1>

    <% if (movies.length > 0) { %>
        <% movies.forEach(movie => {%>
          <a class="single" href="/movies/<%= movie._id %>">
        <h3><%=movie.title %></h3>
<!--         <p><%= movie.voteAvg %></p> -->
            <a/>
        <%})%>
    <%  %>
    <% } else { %>
        <p>There are no movies to display...</p>
      <% } %>
  </div>

  
</body>
</html>
